<div class="panel panel-default">
  <div class="panel-heading"><%= t ".title" %></div>
  <div class="panel-body">
    <%= bootstrap_form_tag method: :get, remote: true do |f| %>
      <%= f.date_field :filter_date_from, value: params[:filter_date_from], label: t(".filter_date_from") %>
      <%= f.date_field :filter_date_to, value: params[:filter_date_to], label: t(".filter_date_to") %>
      <%= f.time_field :filter_time_from, value: params[:filter_time_from], label: t(".filter_time_from") %>
      <%= f.time_field :filter_time_to, value: params[:filter_time_to], label: t(".filter_time_to") %>
      <%= f.submit t(".submit") %>
    <% end %>
  </div>
</div>