<div class="container">
  <div class="page-header">
    <div class="pull-right">
      <%= link_to new_meal_path, class: "btn btn-primary" do %>
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> <%= t(".new_meal") %>
      <% end %>
    </div>

    <h1><%= t ".title" %></h1>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <% if @meals.any? %>
        <%= render "total" %>
        <%= render "filters" %>
      <% end %>
    </div>
    <div class="col-sm-8" id="meals">
      <%= render filtering ? "filtered" : "unfiltered" %>
    </div>
  </div>
</div>