<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag "angular", :media => "all" %>
    <%= javascript_include_tag "angular" %>

    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
  </head>
  <body ng-app="chewyTracker" ng-controller="DashboardCtrl">
    <%= render 'navbar' %>

    <div class="container">
      <div class="page-header">
        <h1>My meals</h1>
      </div>
      <div class="row">
        <div class="col-sm-4">

        </div>
        <div class="col-sm-8" id="meals">
          <div class="panel panel-primary">
            <div class="panel-heading">New meal</div>
            <div class="panel-body">
              <form class="form form-inline" ng-submit="addMeal()">
                <input type="text" ng-model="name" placeholder="Triple Superburger" class="form-control"
                  required="required" />
                <div class="input-group">
                  <input type="number" ng-model="calories" placeholder="960" class="form-control"
                    required="required" />
                  <div class="input-group-addon">KCAL</div>
                </div>
                <input type="datetime-local" ng-model="eatenAt" class="form-control"
                  required="required" />
                <input type="submit" value="Add" class="btn btn-primary" />
              </form>
            </div>
          </div>

          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Calories</th>
                <th>When</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="meal in meals">
                <td>{{meal.name}}</td>
                <td>{{meal.calories}}</td>
                <td>{{meal.eaten_at}}</td>
                <td>
                  <div class="pull-right">
                    <a href="" class="btn btn-primary">Edit</a>
                    <a href="" class="btn btn-danger">Remove</a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <%= render 'footer' %>
  </body>
</html>
