<%= bootstrap_form_for @user, remote: true, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-4" do |f| %>
  <%= f.text_field :name %>
  <%= f.text_field :email %>
  <%= f.password_field :password %>
  <%= f.password_field :password_confirmation %>
  <%= f.number_field :expected_calories, append: "KCAL" %>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit @user.new_record? ? t(".sign_up") : t(".save"), class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
