<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1><%= t ".title" %></h1>
    <p><%= t ".description" %></p>
    <p>
      <a class="btn btn-primary btn-lg" role="button" href="<%= new_user_path %>"><%= t ".sign_up" %></a>
      <%= t ".or" %>
      <a class="" role="button" href="#features"><%= t ".learn_more" %></a>
    </p>
  </div>
</div>

<%= render "features" %>