<%= bootstrap_form_for @meal, remote: true, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-4" do |f| %>
  <%= f.text_field :name, placeholder: t("activerecord.placeholders.meal.name") %>
  <%= f.text_field :calories, type: :number, append: "KCAL", placeholder: t("activerecord.placeholders.meal.calories") %>
  <%= f.datetime_local_field :eaten_at %>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit t(".submit"), class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
